# Docker image
DOCKER_IMAGE=
PORT=

# Postgres
PG_PORT=
PG_DATABASE=
PG_USERNAME=
PG_PASSWORD=
PG_HOST=

# Telegram Bot
TELEGRAM_BOT_TOKEN=

# Archiver
ARCHIVER_APIKEY=bot_live_23942394
ARCHIVER_ENDPOINT=http://localhost:2000